.header {
  padding: 1rem 0; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header nav {
    display: none; }

.hero__left {
  margin-bottom: 6rem; }
  .hero__left .text--default {
    margin-bottom: 3rem; }

.hero__right {
  height: 15rem; }
  .hero__right img {
    height: 100%; }

.benefits {
  text-align: center; }
  .benefits__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3d3838;
    padding: 1.5rem;
    gap: 1rem;
    margin-bottom: 3rem; }
  .benefits img {
    width: 7rem; }
  .benefits .heading--third {
    color: #f9a826;
    margin-bottom: 0; }

.subscribe .heading--secondary {
  color: #323232; }

.testimonials__card {
  background-color: #3d3838;
  padding: 1.5rem;
  margin-bottom: 3rem; }

.testimonials .heading--fourth {
  color: #f9a826; }

.signup__left img {
  margin-bottom: 1.5rem; }

.signup__right .heading--secondary {
  margin-bottom: 1rem;
  color: #323232; }

.footer {
  padding: 3rem 0 1rem; }
  .footer__link {
    display: block;
    color: #fafafa;
    margin-bottom: 0.5rem; }
  .footer__socials a {
    color: #fafafa;
    margin-right: 0.5rem; }

small {
  background-color: #f9a826;
  text-align: center;
  color: #323232;
  display: block;
  margin-top: 3rem;
  padding: 0.5rem;
  font-weight: 700; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  background-color: #323232;
  color: #fafafa;
  font-family: "Roboto", sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: "Figtree", sans-serif;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 1.5rem; }

p {
  line-height: 1.5;
  margin-bottom: 1rem; }

img {
  display: block;
  width: 100%;
  object-fit: cover; }

ul {
  list-style: none; }

ul li {
  margin-bottom: 0.5rem; }

ul a {
  color: #fafafa;
  text-decoration: none;
  text-transform: capitalize; }

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 82rem; }

section,
aside {
  padding: 3rem 0; }

.logo {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: #f9a826;
  text-decoration: none;
  font-weight: 700; }
  .logo p {
    margin-bottom: 0;
    margin-left: 0.25rem; }

.menu {
  height: 3rem;
  cursor: pointer;
  width: 2.25rem;
  position: relative; }
  .menu > * {
    height: 3px;
    width: 100%;
    background-color: #fafafa;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .menu__line:first-of-type {
    top: 40%; }
  .menu__line:last-of-type {
    top: 60%; }

.heading--primary {
  font-size: 2.5rem; }

.heading--secondary {
  font-size: 1.75rem; }

.heading--third {
  font-size: 1.5rem; }

.heading--fourth {
  font-size: 0.85rem; }

.heading--subtitle {
  font-size: 1rem;
  color: #f9a826;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn, .btn--cta, .btn--off {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  transform: all 0.3s ease;
  margin-right: 0.5rem; }
  .btn--cta {
    background-color: #f9a826; }
    .btn--cta:hover {
      background-color: #f5c67b; }
  .btn--off {
    background-color: transparent;
    color: #fafafa;
    border: 1.5px solid; }
    .btn--off:hover {
      opacity: 0.85; }

.bg--accent {
  background-color: #f9a826;
  text-align: center; }
