.footer {
  padding: $spacing-lg 0 $spacing-reg;

  &__link {
    display: block;
    color: $color-white;
    margin-bottom: $spacing-sm;
  }

  &__socials a {
    color: $color-white;
    margin-right: $spacing-sm;
  }

  .container {
    @include mediaDevices(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  nav ul {
    @include mediaDevices(tablet) {
      display: flex;
      gap: $spacing-reg;
    }
  }
}

small {
  background-color: $color-accent;
  text-align: center;
  color: $color-dark;
  display: block;
  margin-top: $spacing-lg;
  padding: $spacing-sm;
  font-weight: 700;
  font-size: 0.75rem;
}
