.header {
  padding: $spacing-reg 0;
  //   border-bottom: 1px solid rgba($color-white, 0.8);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-desktop,
  &__nav-mobile {
    display: none;
  }

  &__nav-desktop {
    @include mediaDevices(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 85%;

      ul {
        display: flex;
        gap: $spacing-reg;
        align-items: center;
      }
    }
  }

  button {
    padding: $spacing-sm;
    font-size: 0.85rem;

    @include mediaDevices(desktop) {
      padding: $spacing-reg;
    }
  }
}
