.signup {
  &__left {
    img {
      max-width: 20rem;
      margin: auto;
      margin-bottom: $spacing-med;
    }

    @include mediaDevices(tablet) {
      flex-basis: 25%;

      img {
        margin-bottom: 0;
      }
    }
  }

  &__right {
    .heading--secondary {
      margin-bottom: $spacing-reg;
      color: $color-dark;
    }

    h2,
    p {
      @include mediaDevices(tablet) {
        margin-bottom: $spacing-sm !important;
      }
    }
  }

  .container {
    @include mediaDevices(tablet) {
      display: flex;
      align-items: center;
      gap: $spacing-lg;
      text-align: left;
    }
  }
}
