.testimonials {
  &__card {
    background-color: $color-dark-light;
    padding: $spacing-med;
    margin-bottom: $spacing-lg;
  }

  .heading--fourth {
    color: $color-accent;
  }

  &__cards {
    @include mediaDevices(tablet) {
      display: flex;
      gap: $spacing-lg;
      justify-content: space-between;
      align-items: center;
    }
  }
}
