// variables
$red: red;

$color-accent: #f9a826;
$color-accent--light: #f5c67b;
$color-dark: #323232;
$color-dark-light: #3d3838;
$color-gray: #686868;
$color-gray-light: #dccbcb;
$color-white-off: #f7f4f4;
$color-white: #fafafa;

$font-heading: "Figtree", sans-serif;
$font-default: "Roboto", sans-serif;
$font-size: 16px;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-reg: 1rem;
$spacing-med: 1.5rem;
$spacing-lg: 3rem;
$spacing-xl: 6rem;

$media-mobile: 30em;
$media-tablet: 48em;
$media-laptop: 62em;
$media-desktop: 75em;

$max-width: 82rem;

$font-size-heading--primary: 2.5rem;
$font-size-heading--secondary: 1.75rem;
$font-size-heading--third: 1.5rem;
$font-size-heading--fourth: 0.85rem;
$font-size-heading--subtitle: 1rem;
