// can not use @use with this sass
@import "variables";
@import "mixins";
@import "buttons";
@import "header";
@import "nav";
@import "hero";
@import "benefits";
@import "subscribe";
@import "testimonials";
@import "signup";
@import "footer";

// general styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
}

body {
  background-color: $color-dark;
  color: $color-white;
  font-family: $font-default;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: $spacing-med;
}

p {
  line-height: 1.5;
  margin-bottom: $spacing-reg;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: $spacing-sm;
}

ul a {
  color: $color-white;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
  color: $color-accent;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: $max-width;
}

section,
aside {
  padding: $spacing-lg 0;
}

.logo {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: $color-accent;
  text-decoration: none;
  font-weight: 700;
  p {
    margin-bottom: 0;
    margin-left: $spacing-xs;
  }
}

.menu {
  height: 3rem;

  cursor: pointer;
  width: 2.25rem;
  position: relative;

  > * {
    height: 3px;
    width: 100%;
    background-color: $color-white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &__line:first-of-type {
    top: 40%;
  }

  &__line:last-of-type {
    top: 60%;
  }

  @include mediaDevices(tablet) {
    display: none;
  }
}

// text
.heading {
  &--primary {
    font-size: $font-size-heading--primary;
  }

  &--secondary {
    font-size: $font-size-heading--secondary;
  }

  &--third {
    font-size: $font-size-heading--third;
  }

  &--fourth {
    font-size: $font-size-heading--fourth;
  }

  &--subtitle {
    font-size: $font-size-heading--subtitle;
    color: $color-accent;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

// utils
.bg--accent {
  background-color: $color-accent;
  text-align: center;
}
